/* --------backdrop------- */
.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

//------------------------modal-field-------------------------
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
}

.modal__title{
  font-family: $font-text;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  padding-top: 40px;
  margin-bottom: 30px;
}


.modal__botton{
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translate(-8px, 15px);
 
    &:hover .modal__icon{
       fill: $accent-color;}
}

.modal__icon{
  width: 18px;
  height: 18px;
  fill: $primary-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//------------------------------------------------form-field-------------------------------------

.form{
  display: flex;
  flex-direction: column;
}

.form-field{
  position: relative;
  margin-left: 41px;
  padding-right: 41px;
  margin-bottom: 28px;
  font-family: $secondary-color;
  font-style: normal;
  
    &:last-child{
      margin-bottom: 20px;}
}


.form-field__input{
  width: 100%;
  margin:0;
  padding-top: 11px;
  padding-bottom: 11px;
  text-indent: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-color;
  background-origin: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:focus{
     border-color:$accent-color;}

      &:focus + .form-field__label,
      &:not(:placeholder-shown)+ .form-field__label{
        transform: translateY(-40px) translateX(-26px);
        color: $accent-color;}


          &:focus ~ .form-field__icon,
          &:not(:placeholder-shown) ~ .form-field__icon{
            fill: $accent-color;}
}


.form-field__label{
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-field__icon{
  position: absolute;
  width: 18px;
  height: 18px;
  top:0px;
  left: 20px;
  fill:$primary-text-color;
  transform: translateY(50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-field__area{
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
      border-color:$accent-color;}
}

//----------------------------------------------checkbox-field-----------------------------------------
.checkbox-field{
  display: flex;
  align-items: center;
  margin-left: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: $secondary-color;
}

.checkbox-field__icon{
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid $secondary-color;
  background-image: url(../css/images/icon-check.svg);
  background-origin: border-box;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.checkbox-field__input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

    &:checked + .checkbox-field__icon{
      background-color: $accent-color;
      border-color: transparent;}
}

.checkbox-field__link{
  padding-left: 5px;
}


.button-submit{
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color:$primary-white-color;
  background: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus{
            background:#188CE8;}
}



