header{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index: 10;
  background-color: #ffffff;
}

.container > .header-nav{
  display: flex;
  align-items: center;
}
/* ---------------------------------------------------------logo------------------------------------------------------------------- */

.logo-link{
  display: block;
  text-decoration:none ;
  color:$title-text-color;
  font-family:$font-logo;
  font-style: normal ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

 .logo-accent{
  color:$accent-color;
}

.logo.inverse{
  color:$primary-white-color;
}
/* ----------------------------------------------------------end logo-------------------------------------------------------------- */
/* -----------------------------------------------------     site-nav------------------------------------------------------------- */

.site-nav{
  display: flex;
  margin-left: 85px;
}


.site-nav__item + .site-nav__item{
  margin-left: 50px;
}

.site-nav__link{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color:var(--main-color);
  font-family:$font-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }

.site-nav__link:hover,
.site-nav__link:focus {
  color:$accent-color;
}

.site-nav__link--active{
  color:$accent-color;
}


.site-nav__link--active::after{
  content:"";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border:2px solid $accent-color; 
}


/* -------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------start address---------------------------------------------------------------- */

.header-address{
  margin-left: auto;
}

.address-nav {
  display: flex;
  justify-content: center;
}

.address-nav__item + .address-nav__item{
  margin-left: 50px;
}

.address-nav__link{
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color:$secondary-color;
  font-family:$font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.address-nav__icon-mail{ 
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill:currentColor;
}

.address-nav__icon-phone{
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill:currentColor;
}

.address-nav__link:hover,
.address-nav__link:focus{
 color:$accent-color;
}
/* -------------------------------------------------------finish address----------------------------------------------------------- */
