img{
  display: block;
}

body{
  background: var(--primary-white-color);
  padding-top: 80px;
}

/* Змінна стилів в list */
.list-style{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* --------------------- */

/* відключення відступів  */
h1,h2,h3,h4,h5,h6,p{
  margin:0px;  
}
/* --------------- */

textarea{
  display: block;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}