
/* ---------------------------------------------------------logo------------------------------------------------------------------- */

.logo-link{
  display: block;
  text-decoration:none ;
  color:$title-text-color;
  font-family:$font-logo;
  font-style: normal ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

    &--inverse{
     color:$primary-white-color;}
}

 .logo-accent{
  color:$accent-color;
}
//-----------end of logo--------